<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.pvz.team2508" android:versionName="0.14.0" android:installLocation="auto" android:versionCode="00140000">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="31" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="植物大战僵尸" android:icon="@drawable/Icon" android:networkSecurityConfig="@xml/network_security_config"></application>
</manifest>